* {
  box-sizing: border-box;
}


// .theatre-height {
//   height: 100vh;
// }

.form-login {
  height: 100vh;
}


.form-page {
  height: 100vh;
}


.home-page {
  height: 100vh;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.profile {
  height: 100vh;
}

.edit-user-page{
  height: 100vh;
}

.profile-main {
  height: 100vh;
}


.review-card {
  display: flex;
}
